{
  "extends": "airbnb-base",
  "rules": {
    "no-console": ["warn", { "allow": ["log"] }], // Allow console.log while warning for other console methods
    "no-underscore-dangle": ["error", { "allow": ["_id"] }], // Allow variables starting with an underscore like _id
    "linebreak-style": "off" // Disable enforcement of specific line break styles
  }
}
